.lb-loader, .lightbox {
    text-align: center;
    line-height: 0;
    position: absolute;
    left: 0
}

body.lb-disable-scrolling {
    overflow: hidden
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    filter: alpha(Opacity=80);
    opacity: .8;
    display: none
}

.lightbox {
    width: 100%;
    z-index: 10000;
    font-weight: 400;
    outline: 0
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid #fff
}

.lightbox a img {
    border: none
}

.lb-outerContainer {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #fff
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both
}

.lb-loader {
    top: 43%;
    height: 25%;
    width: 100%
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(/images/vendor/lightbox2/dist/loading.gif?2299ad0b3f63413f026dfec20c205b8f) no-repeat
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

.lb-container > .nav {
    left: 0
}

.lb-nav a {
    outline: 0;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}

.lb-next, .lb-prev {
    height: 100%;
    cursor: pointer;
    display: block
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(/images/vendor/lightbox2/dist/prev.png?84b76dee6b27b795e89e3649078a11c2) left 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    transition: opacity .6s
}

.lb-nav a.lb-prev:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(/images/vendor/lightbox2/dist/next.png?31f15875975aab69085470aabbfec802) right 48% no-repeat;
    filter: alpha(Opacity=0);
    opacity: 0;
    transition: opacity .6s
}

.lb-nav a.lb-next:hover {
    filter: alpha(Opacity=100);
    opacity: 1
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both
}

.lb-data {
    padding: 0 4px;
    color: #ccc
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: 700;
    line-height: 1em
}

.lb-data .lb-caption a {
    color: #4ae
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(/images/vendor/lightbox2/dist/close.png?d9d2d0b1308cb694aa8116915592e2a9) 100% 0 no-repeat;
    text-align: right;
    outline: 0;
    filter: alpha(Opacity=70);
    opacity: .7;
    transition: opacity .2s
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: alpha(Opacity=100);
    opacity: 1
}

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translateZ(0)
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0)
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none
}

.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit
}

.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.no-js .owl-carousel {
    display: block
}

.owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.owl-height {
    transition: height .5s ease-in-out
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease
}

.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0
}

.owl-carousel .owl-item img.owl-lazy {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(/images/vendor/owl.carousel/dist/owl.video.play.png?4a37f8008959c75f619bf0a3a4e2d7a2) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%
}

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #d6d6d6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #869791;
    color: #fff;
    text-decoration: none
}

.owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791
}

@font-face {
    font-family: flaticon-ecommerce;
    src: url(/fonts/vendor/flat-icons/ecommerce.ttf?82cae9104544486bd768c30357906c11) format("truetype"), url(/fonts/vendor/flat-icons/ecommerce.svg?efabde99c3212c547d03c5f2dd472591#Flaticon) format("svg");
    font-weight: 400;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: flaticon-ecommerce;
        src: url(/fonts/vendor/flat-icons/ecommerce.svg?efabde99c3212c547d03c5f2dd472591#Flaticon) format("svg")
    }
}

[class*=" fi-ecommerce-"]:after, [class*=" fi-ecommerce-"]:before, [class^=fi-ecommerce-]:after, [class^=fi-ecommerce-]:before {
    font-family: flaticon-ecommerce;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px
}

.fi-ecommerce-badge:before {
    content: "\F100"
}

.fi-ecommerce-bill:before {
    content: "\F101"
}

.fi-ecommerce-bills:before {
    content: "\F102"
}

.fi-ecommerce-box:before {
    content: "\F103"
}

.fi-ecommerce-box-1:before {
    content: "\F104"
}

.fi-ecommerce-box-2:before {
    content: "\F105"
}

.fi-ecommerce-box-3:before {
    content: "\F106"
}

.fi-ecommerce-box-4:before {
    content: "\F107"
}

.fi-ecommerce-box-5:before {
    content: "\F108"
}

.fi-ecommerce-cash:before {
    content: "\F109"
}

.fi-ecommerce-coin:before {
    content: "\F10A"
}

.fi-ecommerce-coins:before {
    content: "\F10B"
}

.fi-ecommerce-credit-card:before {
    content: "\F10C"
}

.fi-ecommerce-delivery:before {
    content: "\F10D"
}

.fi-ecommerce-dislike:before {
    content: "\F10E"
}

.fi-ecommerce-dollar-symbol:before {
    content: "\F10F"
}

.fi-ecommerce-dollar-symbol-1:before {
    content: "\F110"
}

.fi-ecommerce-dollar-symbol-2:before {
    content: "\F111"
}

.fi-ecommerce-dollar-symbol-3:before {
    content: "\F112"
}

.fi-ecommerce-dollar-symbol-4:before {
    content: "\F113"
}

.fi-ecommerce-dollar-symbol-5:before {
    content: "\F114"
}

.fi-ecommerce-headphones:before {
    content: "\F115"
}

.fi-ecommerce-id-card:before {
    content: "\F116"
}

.fi-ecommerce-invoice:before {
    content: "\F117"
}

.fi-ecommerce-like:before {
    content: "\F118"
}

.fi-ecommerce-like-1:before {
    content: "\F119"
}

.fi-ecommerce-like-2:before {
    content: "\F11A"
}

.fi-ecommerce-mathematics:before {
    content: "\F11B"
}

.fi-ecommerce-money:before {
    content: "\F11C"
}

.fi-ecommerce-money-bag:before {
    content: "\F11D"
}

.fi-ecommerce-monitor:before {
    content: "\F11E"
}

.fi-ecommerce-monitor-1:before {
    content: "\F11F"
}

.fi-ecommerce-newspaper:before {
    content: "\F120"
}

.fi-ecommerce-package:before {
    content: "\F121"
}

.fi-ecommerce-package-1:before {
    content: "\F122"
}

.fi-ecommerce-package-2:before {
    content: "\F123"
}

.fi-ecommerce-package-3:before {
    content: "\F124"
}

.fi-ecommerce-package-4:before {
    content: "\F125"
}

.fi-ecommerce-package-5:before {
    content: "\F126"
}

.fi-ecommerce-package-6:before {
    content: "\F127"
}

.fi-ecommerce-package-7:before {
    content: "\F128"
}

.fi-ecommerce-padlock:before {
    content: "\F129"
}

.fi-ecommerce-payment-method:before {
    content: "\F12A"
}

.fi-ecommerce-pen:before {
    content: "\F12B"
}

.fi-ecommerce-percentage:before {
    content: "\F12C"
}

.fi-ecommerce-pie-chart:before {
    content: "\F12D"
}

.fi-ecommerce-piggy-bank:before {
    content: "\F12E"
}

.fi-ecommerce-piggy-bank-1:before {
    content: "\F12F"
}

.fi-ecommerce-piggy-bank-2:before {
    content: "\F130"
}

.fi-ecommerce-price-tag:before {
    content: "\F131"
}

.fi-ecommerce-profits:before {
    content: "\F132"
}

.fi-ecommerce-settings:before {
    content: "\F133"
}

.fi-ecommerce-shield:before {
    content: "\F134"
}

.fi-ecommerce-shop:before {
    content: "\F135"
}

.fi-ecommerce-shopping-bag:before {
    content: "\F136"
}

.fi-ecommerce-shopping-bag-1:before {
    content: "\F137"
}

.fi-ecommerce-shopping-bag-10:before {
    content: "\F138"
}

.fi-ecommerce-shopping-bag-2:before {
    content: "\F139"
}

.fi-ecommerce-shopping-bag-3:before {
    content: "\F13A"
}

.fi-ecommerce-shopping-bag-4:before {
    content: "\F13B"
}

.fi-ecommerce-shopping-bag-5:before {
    content: "\F13C"
}

.fi-ecommerce-shopping-bag-6:before {
    content: "\F13D"
}

.fi-ecommerce-shopping-bag-7:before {
    content: "\F13E"
}

.fi-ecommerce-shopping-bag-8:before {
    content: "\F13F"
}

.fi-ecommerce-shopping-bag-9:before {
    content: "\F140"
}

.fi-ecommerce-shopping-basket:before {
    content: "\F141"
}

.fi-ecommerce-shopping-cart:before {
    content: "\F142"
}

.fi-ecommerce-shopping-cart-1:before {
    content: "\F143"
}

.fi-ecommerce-shopping-cart-2:before {
    content: "\F144"
}

.fi-ecommerce-shopping-cart-3:before {
    content: "\F145"
}

.fi-ecommerce-shopping-cart-4:before {
    content: "\F146"
}

.fi-ecommerce-shopping-cart-5:before {
    content: "\F147"
}

.fi-ecommerce-shopping-cart-6:before {
    content: "\F148"
}

.fi-ecommerce-shopping-cart-7:before {
    content: "\F149"
}

.fi-ecommerce-shopping-cart-8:before {
    content: "\F14A"
}

.fi-ecommerce-shopping-cart-9:before {
    content: "\F14B"
}

.fi-ecommerce-speech-bubble:before {
    content: "\F14C"
}

.fi-ecommerce-speech-bubble-1:before {
    content: "\F14D"
}

.fi-ecommerce-tag:before {
    content: "\F14E"
}

.fi-ecommerce-telephone:before {
    content: "\F14F"
}

.fi-ecommerce-telephone-1:before {
    content: "\F150"
}

.fi-ecommerce-trolley:before {
    content: "\F151"
}

.fi-ecommerce-truck:before {
    content: "\F152"
}

.fi-ecommerce-truck-1:before {
    content: "\F153"
}

.fi-ecommerce-wallet:before {
    content: "\F154"
}

@font-face {
    font-family: flaticon-creative;
    src: url(/fonts/vendor/flat-icons/creative.ttf?adaf24e8df85e378f220589f0ebe8aa7) format("truetype"), url(/fonts/vendor/flat-icons/creative.svg?273ed21b7b1c1a36e49788bff41d8e55#Flaticon) format("svg");
    font-weight: 400;
    font-style: normal
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: flaticon-creative;
        src: url(/fonts/vendor/flat-icons/creative.svg?273ed21b7b1c1a36e49788bff41d8e55#Flaticon) format("svg")
    }
}

[class*=" fi-creative-"]:after, [class*=" fi-creative-"]:before, [class^=fi-creative-]:after, [class^=fi-creative-]:before {
    font-family: flaticon-creative;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px
}

.fi-creative-alarm:before {
    content: "\F100"
}

.fi-creative-arroba:before {
    content: "\F101"
}

.fi-creative-bar-chart:before {
    content: "\F102"
}

.fi-creative-basketball:before {
    content: "\F103"
}

.fi-creative-book:before {
    content: "\F104"
}

.fi-creative-bug:before {
    content: "\F105"
}

.fi-creative-cancel:before {
    content: "\F106"
}

.fi-creative-checked:before {
    content: "\F107"
}

.fi-creative-checked-1:before {
    content: "\F108"
}

.fi-creative-circular:before {
    content: "\F109"
}

.fi-creative-clipboard:before {
    content: "\F10A"
}

.fi-creative-clipboard-1:before {
    content: "\F10B"
}

.fi-creative-clock:before {
    content: "\F10C"
}

.fi-creative-cloud:before {
    content: "\F10D"
}

.fi-creative-cloud-computing:before {
    content: "\F10E"
}

.fi-creative-cloud-computing-1:before {
    content: "\F10F"
}

.fi-creative-cloud-computing-2:before {
    content: "\F110"
}

.fi-creative-cloud-computing-3:before {
    content: "\F111"
}

.fi-creative-computer:before {
    content: "\F112"
}

.fi-creative-computer-1:before {
    content: "\F113"
}

.fi-creative-credit-card:before {
    content: "\F114"
}

.fi-creative-cursor:before {
    content: "\F115"
}

.fi-creative-devices:before {
    content: "\F116"
}

.fi-creative-dial:before {
    content: "\F117"
}

.fi-creative-dial-1:before {
    content: "\F118"
}

.fi-creative-download:before {
    content: "\F119"
}

.fi-creative-download-1:before {
    content: "\F11A"
}

.fi-creative-download-2:before {
    content: "\F11B"
}

.fi-creative-earth-globe:before {
    content: "\F11C"
}

.fi-creative-edit:before {
    content: "\F11D"
}

.fi-creative-edit-1:before {
    content: "\F11E"
}

.fi-creative-email:before {
    content: "\F11F"
}

.fi-creative-email-1:before {
    content: "\F120"
}

.fi-creative-eye:before {
    content: "\F121"
}

.fi-creative-flag:before {
    content: "\F122"
}

.fi-creative-folder:before {
    content: "\F123"
}

.fi-creative-glasses:before {
    content: "\F124"
}

.fi-creative-head:before {
    content: "\F125"
}

.fi-creative-head-1:before {
    content: "\F126"
}

.fi-creative-headphones:before {
    content: "\F127"
}

.fi-creative-heart:before {
    content: "\F128"
}

.fi-creative-hide:before {
    content: "\F129"
}

.fi-creative-infinity:before {
    content: "\F12A"
}

.fi-creative-laptop:before {
    content: "\F12B"
}

.fi-creative-levels:before {
    content: "\F12C"
}

.fi-creative-levels-1:before {
    content: "\F12D"
}

.fi-creative-light-bulb:before {
    content: "\F12E"
}

.fi-creative-like:before {
    content: "\F12F"
}

.fi-creative-list:before {
    content: "\F130"
}

.fi-creative-login:before {
    content: "\F131"
}

.fi-creative-login-1:before {
    content: "\F132"
}

.fi-creative-logout:before {
    content: "\F133"
}

.fi-creative-logout-1:before {
    content: "\F134"
}

.fi-creative-mail:before {
    content: "\F135"
}

.fi-creative-mail-1:before {
    content: "\F136"
}

.fi-creative-megaphone:before {
    content: "\F137"
}

.fi-creative-microphone:before {
    content: "\F138"
}

.fi-creative-mouse:before {
    content: "\F139"
}

.fi-creative-mouse-1:before {
    content: "\F13A"
}

.fi-creative-next:before {
    content: "\F13B"
}

.fi-creative-next-1:before {
    content: "\F13C"
}

.fi-creative-next-2:before {
    content: "\F13D"
}

.fi-creative-next-3:before {
    content: "\F13E"
}

.fi-creative-padlock:before {
    content: "\F13F"
}

.fi-creative-padlock-1:before {
    content: "\F140"
}

.fi-creative-paper-plane:before {
    content: "\F141"
}

.fi-creative-paper-plane-1:before {
    content: "\F142"
}

.fi-creative-pencil:before {
    content: "\F143"
}

.fi-creative-pencil-1:before {
    content: "\F144"
}

.fi-creative-phone-call:before {
    content: "\F145"
}

.fi-creative-photo-camera:before {
    content: "\F146"
}

.fi-creative-photo-camera-1:before {
    content: "\F147"
}

.fi-creative-picture:before {
    content: "\F148"
}

.fi-creative-pie-chart:before {
    content: "\F149"
}

.fi-creative-piggy-bank:before {
    content: "\F14A"
}

.fi-creative-placeholder:before {
    content: "\F14B"
}

.fi-creative-plug:before {
    content: "\F14C"
}

.fi-creative-plug-1:before {
    content: "\F14D"
}

.fi-creative-plug-2:before {
    content: "\F14E"
}

.fi-creative-power-button:before {
    content: "\F14F"
}

.fi-creative-printer:before {
    content: "\F150"
}

.fi-creative-reload:before {
    content: "\F151"
}

.fi-creative-repeat:before {
    content: "\F152"
}

.fi-creative-repeat-1:before {
    content: "\F153"
}

.fi-creative-repeat-2:before {
    content: "\F154"
}

.fi-creative-reply:before {
    content: "\F155"
}

.fi-creative-screen:before {
    content: "\F156"
}

.fi-creative-screen-1:before {
    content: "\F157"
}

.fi-creative-search:before {
    content: "\F158"
}

.fi-creative-server:before {
    content: "\F159"
}

.fi-creative-settings:before {
    content: "\F15A"
}

.fi-creative-settings-1:before {
    content: "\F15B"
}

.fi-creative-settings-2:before {
    content: "\F15C"
}

.fi-creative-share:before {
    content: "\F15D"
}

.fi-creative-shopping-bag:before {
    content: "\F15E"
}

.fi-creative-shuffle:before {
    content: "\F15F"
}

.fi-creative-shuffle-1:before {
    content: "\F160"
}

.fi-creative-shuffle-2:before {
    content: "\F161"
}

.fi-creative-sitemap:before {
    content: "\F162"
}

.fi-creative-sledge:before {
    content: "\F163"
}

.fi-creative-speaker:before {
    content: "\F164"
}

.fi-creative-speaker-1:before {
    content: "\F165"
}

.fi-creative-speech-bubble:before {
    content: "\F166"
}

.fi-creative-speech-bubble-1:before {
    content: "\F167"
}

.fi-creative-speech-bubble-2:before {
    content: "\F168"
}

.fi-creative-speech-bubble-3:before {
    content: "\F169"
}

.fi-creative-speech-bubble-4:before {
    content: "\F16A"
}

.fi-creative-speech-bubble-5:before {
    content: "\F16B"
}

.fi-creative-switch:before {
    content: "\F16C"
}

.fi-creative-switch-1:before {
    content: "\F16D"
}

.fi-creative-tag:before {
    content: "\F16E"
}

.fi-creative-target:before {
    content: "\F16F"
}

.fi-creative-telephone:before {
    content: "\F170"
}

.fi-creative-transfer:before {
    content: "\F171"
}

.fi-creative-transfer-1:before {
    content: "\F172"
}

.fi-creative-trash:before {
    content: "\F173"
}

.fi-creative-trash-1:before {
    content: "\F174"
}

.fi-creative-umbrella:before {
    content: "\F175"
}

.fi-creative-upload:before {
    content: "\F176"
}

.fi-creative-upload-1:before {
    content: "\F177"
}

.fi-creative-upload-2:before {
    content: "\F178"
}

.fi-creative-upload-3:before {
    content: "\F179"
}

.fi-creative-upload-4:before {
    content: "\F17A"
}

.fi-creative-user:before {
    content: "\F17B"
}

.fi-creative-user-1:before {
    content: "\F17C"
}

.fi-creative-user-2:before {
    content: "\F17D"
}

.fi-creative-user-3:before {
    content: "\F17E"
}

.fi-creative-users:before {
    content: "\F17F"
}

.fi-creative-volume:before {
    content: "\F180"
}

.gorizontal-image .img-top {
    background: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .15);
    padding: 20px 20px 10px;
    margin: 0 0 15px 5px
}

.gorizontal-image .img-top img {
    display: block;
    width: auto;
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
    text-align: center
}

@media (max-width: 460px) {
    .gorizontal-image .img-top img {
        height: 180px;
        max-width: 260px
    }
}

.vertical-image a {
    color: #212529
}

.vertical-image .img-top {
    background: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .15);
    padding: 20px 20px 10px;
    margin: 0 0 15px 5px
}

.vertical-image .img-top img {
    display: block;
    width: auto;
    max-width: 310px;
    height: 310px;
    margin: 0 auto;
    text-align: center
}

.vertical-image .img-top .img-title {
    text-align: left;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    overflow: hidden;
    height: 20px;
    margin: 25px 0 0
}

.vertical-image .img-top .hr-bold {
    width: 70px;
    border-top: 4px solid #ffa000;
    float: left
}

.vertical-image .img-top .orange {
    border-color: #ffa000;
    margin: 10px 0 15px
}

.gallery-title {
    margin-top: 20px
}

.category_h1, .gallery-title {
    text-align: center;
    color: #000
}

.category_h1 {
    margin-bottom: 40px
}

.category_desc1, .category_desc2 {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    padding: 5px
}

.category_contacts {
    background: #1b1b1b;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    padding: 20px 5px 5px
}

.category_contacts div {
    color: #079e99
}

.category_contacts .contact-desc {
    color: #000;
    font-size: 14px;
    line-height: 19px;
    display: block;
    width: 80%;
    margin: 15px auto;
    background: #f0f0ee;
    padding: 8px;
    text-align: justify
}

.category_contacts .contact1 {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    font-size: 16px
}

.category_contacts .contact1 a {
    color: #f0f0ee
}

.category_contacts button {
    margin: 20px 0 5px;
    padding: 7px;
    background: #079e99;
    color: #f0f0ee;
    border: 1px solid #079e99;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    width: 80%
}

@media (max-width: 450px) {
    .door-forms-wrap {
        padding-top: 40px;
        padding-bottom: 80px
    }
}

.door-forms-wrap {
    margin-top: 0;
    padding: 60px 0 100px;
    background: url(/images/bg_pattern3.jpg);
    background-position: 50%;
    background-size: auto;
    overflow: hidden
}

.door-forms-wrap .owl-carousel .owl-stage {
    padding: 30px 0
}

.door-forms-wrap .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden
}

.door-forms-wrap .header2 {
    margin-bottom: 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, .3)
}

.door-forms-wrap .title {
    display: inline-block;
    padding-bottom: .4em;
    position: relative;
    margin-bottom: 0;
    color: #fff
}

.door-forms-wrap .title:after {
    content: " ";
    border-bottom: 1px solid #ea1f29;
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    z-index: 100;
    box-sizing: inherit
}

.door-forms-wrap .door-forms-slider {
    width: 100%
}

.door-forms-wrap .door-forms-slider .owl-carousel .owl-stage {
    padding: 30px 0;
    width: 95%;
    margin: 0 auto
}

.door-forms-wrap .door-forms-slider .door-forms-item {
    margin: 0 5px;
    min-width: 160px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 20px 0 hsla(0, 0%, 39.2%, .09);
    height: 254px;
    background: #fff
}

.door-forms-wrap .door-forms-slider .door-forms-item img {
    height: 157px;
    width: auto;
    display: block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 0 auto
}

.door-forms-wrap .door-forms-slider .door-forms-item span {
    font-size: 13px;
    width: 100%;
    display: inline-block;
    margin-top: 7px;
    line-height: 18px;
    color: #777d8a
}

.door-forms-wrap .door-forms-slider .owl-nav {
    position: absolute;
    top: calc(50% - 38px);
    width: 100%
}

.door-forms-wrap .door-forms-slider .owl-nav > button span {
    font-size: 22px;
    color: #fff;
    margin-top: -3px
}

.door-forms-wrap .door-forms-slider .owl-prev span {
    margin-left: -3px
}

.door-forms-wrap .door-forms-slider .owl-nav > button {
    width: 50px;
    height: 50px;
    background: #ea1d27;
    border: 1px solid #ff2530;
    box-shadow: 0 0 0 1px #c0101e, 0 0 19px 1px rgba(251, 45, 63, .4);
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: all .3s ease-out
}

.door-forms-wrap .door-forms-slider .owl-next {
    right: -15px
}

.door-forms-wrap .door-forms-slider .owl-prev {
    left: -15px
}

.door-forms-wrap .door-forms-slider .owl-dots {
    margin-top: 0;
    text-align: center
}

.door-forms-wrap .door-forms-slider .owl-dots .owl-dot.active {
    background-color: #ea1b25
}

.door-forms-wrap .door-forms-slider .owl-dots .owl-dot + .owl-dot {
    margin-left: 1em
}

.door-forms-wrap .door-forms-slider .owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    background-color: #bcbcbc;
    display: inline-block;
    border-radius: 50%
}

#features-list {
    margin-top: -54px
}

.features-list {
    background: #ea1b26;
    color: #fff !important;
    border: 1px solid #ba1a27;
    box-shadow: 0 5px 24px rgba(255, 41, 59, .7);
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0
}

.features-list .feature {
    padding-top: 2.143em;
    padding-bottom: 2.143em
}

.features-list-in {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ff2530;
    float: left;
    bottom: 0
}

.columns-5 .feature {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    width: 100%
}

@media (min-width: 991px) {
    .columns-5 .feature {
        width: 20%
    }
}

.features-list .media {
    width: 190px;
    margin: 0 auto
}

.media, .media-body {
    overflow: hidden;
    zoom: 1
}

.fl-fill .features-list .feature + .feature {
    border-left: 1px solid #ba1825
}

.media-left {
    padding-right: 10px
}

.media-middle {
    vertical-align: middle
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top
}

.fl-fill .features-list i {
    color: #fff
}

[class*=" fi-creative-"]:after, [class*=" fi-creative-"]:before, [class*=" fi-ecommerce-"]:after, [class*=" fi-ecommerce-"]:before, [class*=" fi-tech-"]:after, [class*=" fi-tech-"]:before, [class^=fi-creative-]:after, [class^=fi-creative-]:before, [class^=fi-ecommerce-]:after, [class^=fi-ecommerce-]:before, [class^=fi-tech-]:after, [class^=fi-tech-]:before {
    font-size: 30px
}

.features-list .media-body {
    text-align: center;
    font-size: 15px
}

.features-list .feature-text strong {
    display: block
}

.features-list:after {
    content: "";
    display: table;
    clear: both
}

.lb-nav a.lb-next, .lb-nav a.lb-prev {
    opacity: .5
}

.more_block {
    text-align: center;
    margin-top: 10px;
    font-size: 16px
}
.more_block button {
    margin: 20px 0 5px;
    padding: 7px;
    background: #079e99;
    color: #f0f0ee;
    border: 1px solid #079e99;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}


.more_block i:after, .more_block i:before {
    font-size: 16px;
    margin-left: 0;
}
